* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    height: 100vh;
    width: 100vw;
}

body {
    background: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;

    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png);
}


iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;

}

section#redes {
    display: flex;
    flex-direction: column;
    text-align: right;
}

section#redes > a > img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-sizing: border-box;
}

section#redes img:hover {
    border: 2px solid rgba(255, 255, 255, 0.452);
    transform: translate(-3px -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
    transition: transform .3s, border .1s;
}







